body
{
    min-width: 100%;
}

#bkgd
{
    display: none;
}

#nav
{
    height: 3em;
    font-size: 300%;
    position: relative;
}

#logo
{
    font-size: 200%;
    margin-left: 2%;
}
#nav_buttons
{
    width: 100%;
}

#nav_buttons li
{
    font-size: 130%;
    margin-left: 5%;
    top: 50%;
}

#nav_buttons a:hover
{
    color: white;
    font-weight: normal;
}

#header
{
    width: 100%;
    height: 100%;
    top: 0%;
    background-position: 81% -13%;
}

#bio
{
    width: 100%;
    height: 400%;
    top: 0%;
    left: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 0%;
    background: rgba(50, 130, 40, .7);
    animation-duration: 0s;
}

#bio h1
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 850%;
    top: 0%;
    text-align: center;
    animation: fade_in;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
}

#bio p
{
    width: 80%;
    top: 0%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 380%;
    text-align: justify;
    line-height: 150%;
    animation: fade_in;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
}

#subtitle_bar
{
    width: 100%;
    height: 100%;
    font-size: 800%;
    padding-top: 1%;
    letter-spacing: 3%;
}

#content
{
    width: 100%;
    height: 900%;
}

.activities
{
    width: 100%;
    height: 300%;

}

#cadet_logo
{
    width: 80%;
    height: 50%;
    left: 5%;
    margin-top: 10%;
}

#cadet_logo img
{
    width: inherit;
    height: inherit;
}

#left_content h1
{
    margin-top: 8%;
    font-size: 400%;
}

#left_content h2
{
    margin-top: 8%;
    font-size: 300%;
}

#show
{
    width: 50%;
    height: 40%;
    margin-top: 8%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 300%;
    border-radius: 1%;
}

#middle_content
{
   border: none;
}

.bible_stuff
{
   animation: none;
   visibility: visible;
}

#verse
{
    width: 80%;
    margin-top: 10%;
    font-size: 800%;
    line-height: 100%;
}

#reference
{
    font-size: 800%;
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}


#right_content h1
{
    font-size: 500%;
    margin-top: 10%
}

#right_content ul
{
    margin-top: 10%;
    margin-bottom: 10%;
}

#right_content li
{
    text-align: center;
    margin-top: 10%;
    font-size: 350%;
}


#interests
{
    width: 100%;
    height: auto;
}

#interests h1
{
    font-size: 800%;
}

#interest_content
{
    width: 100%;
    height: auto;
    margin-top: 10%;
}

#interest_left
{
    width: 100%;
}

#interest_right
{
    width: 100%;
}

.other_interest
{
    width: 100%;
    height: 20em;
    background: #88bb77;
}

#starwars_entertainment
{
    min-width: 0;
}

.image
{
    height: 100%;
    width: 30%;
}

#soccer
{
    margin-top: 20%;
    margin-left: 10%;
}

#starwars
{
    margin-top: 20%;
    margin-left: 10%;
}

#phone
{
    margin-top: 20%;
    margin-left: 10%;
}

.description
{
    float: left;
    width: 60%;
}

.description h2
{
    font-size: 400%;
}

.descriptionpara
{
    margin-top: 10%;
    font-size: 200%;
    visibility: visible;
    animation-duration: 0s;
}

#footer
{
    float: left;
}
