body
{
    min-width: 100%;
}

#bkgd
{
    display: none;
}

#nav
{
    height: 200px;
    font-size: 300%;
}

#logo
{
    font-size: 200%;
    margin-left: 2%;
    margin-top: 60px;
}

#nav_buttons
{
    padding-top: 200px;
    width: 100%;
    display: none;
}

button:focus
{
    outline: none;
}

#menu_icon
{
    float: right;
    z-index: 100;
    height: 75px;
    width: 75px;
    margin-top: 60px;
    margin-right: 50px;
    cursor: pointer;
    display: block;
}

/* to rotate icon */
.rotated {
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg); /* IE 9 */
    -moz-transform: rotate(-90deg); /* Firefox */
    -webkit-transform: rotate(-90deg); /* Safari and Chrome */
    -o-transform: rotate(-90deg); /* Opera */
    transition: all .5s;
}
.upright {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg); /* IE 9 */
    -moz-transform: rotate(0deg); /* Firefox */
    -webkit-transform: rotate(0deg); /* Safari and Chrome */
    -o-transform: rotate(0deg); /* Opera */
    transition: all .5s;
}

/* end rotate icon */

#drop_menu
{
    height: auto;
    width: 100%;
    background: transparent;
    display: none;
}


.menu_item
{
    height: 150px;
    width: 100%;
    background: #040C19;
    color: white;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 75px;
}

.menu_item:hover
{
    background: white;
    color: #040C19;
    cursor: pointer;
}


#header
{
    width: 100%;
    height: 100%;
    top: 200px;
    background-position: 81% -13%;
}

#bio
{
    width: 100%;
    height: 400%;
    top: 0%;
    left: 0%;
    padding-top: 10%;
    padding-bottom: 10%;
    border-radius: 0%;
    background: rgba(4, 12, 25, .75);
    animation-duration: 0s;
}

#bio h1
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 850%;
    top: 0%;
    text-align: center;
    animation: fade_in;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
}

#bio p
{
    width: 80%;
    top: 0%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    font-size: 380%;
    text-align: justify;
    line-height: 150%;
    animation: fade_in;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
}

#subtitle_bar
{
    width: 100%;
    height: 100%;
    font-size: 800%;
    padding-top: 1%;
    letter-spacing: 3%;
}

#content
{
    width: 100%;
    height: 900%;
}

.activities
{
    width: 100%;
    height: 300%;

}

#cadet_logo
{
    width: 80%;
    height: 50%;
    left: 5%;
    margin-top: 10%;
}

#cadet_logo img
{
    width: inherit;
    height: inherit;
}

#left_content h1
{
    margin-top: 8%;
    font-size: 400%;
}

#left_content h2
{
    margin-top: 8%;
    font-size: 300%;
}

#show
{
    width: 50%;
    height: 40%;
    margin-top: 8%;
    margin-bottom: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 300%;
    border-radius: 1%;
}

#middle_content
{
   border: none;
}

.bible_stuff
{
   animation: none;
   visibility: visible;
}

#verse
{
    width: 80%;
    margin-top: 10%;
    font-size: 800%;
    line-height: 100%;
}

#reference
{
    font-size: 800%;
    margin-bottom: 10%;
    width: 100%;
    text-align: center;
}


#right_content h1
{
    font-size: 500%;
    margin-top: 10%
}

#right_content ul
{
    margin-top: 10%;
    margin-bottom: 10%;
}

#right_content li
{
    text-align: center;
    margin-top: 10%;
    font-size: 350%;
}


#interests
{
    width: 100%;
    height: auto;
}

#interests h1
{
    font-size: 800%;
}

#interest_content
{
    width: 100%;
    height: auto;
    margin-top: 10%;
}

#interest_left
{
    width: 100%;
}

#interest_right
{
    width: 100%;
}

.other_interest
{
    width: 100%;
    height: 20em;
    background: #999999;
}

#starwars_entertainment
{
    min-width: 0;
}

.image
{
    height: 100%;
    width: 30%;
}

#soccer
{
    margin-top: 20%;
    margin-left: 10%;
}

#starwars
{
    margin-top: 20%;
    margin-left: 10%;
}

#phone
{
    margin-top: 20%;
    margin-left: 10%;
}

.description
{
    float: left;
    width: 60%;
}

.description h2
{
    font-size: 400%;
}

.descriptionpara
{
    margin-top: 10%;
    font-size: 200%;
    visibility: visible;
    animation-duration: 0s;
}

#footer
{
    float: left;
}
