#container
{
    background: #88bb77;
}

#bibleverse
{
    height: 400px;
    padding-top: 100px;
    animation: fade_in;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
}

#verse_text
{
    height: 175px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 80px;
    font-family: 'Tangerine', cursive;
}

#reference_text
{
    height: 60px;
    width: 300px;
    margin-left: 55%;
    margin-top: 20px;
    color: white;
    font-size: 50px;
    font-family: 'Tangerine', cursive;
}

#coursework
{
    height: auto;
    margin-top: 30px;
}

.title
{
    margin-left: 15%;
    padding-left: 5px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    border-left: 5px solid #555;
    border-bottom: 5px solid #555;
}

.course
{
    width: 80%;
    height: 500px;
    margin-left: auto;
    margin-top: 30px;
    overflow: hidden;
}

.course_title
{
    float: left;
    width: 120px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
}

.course_project
{
    float: left;
    width: 300px;
    height: 500px;
    margin-left: 30px;
    border: 2px solid black;
}

.project_img
{
    width: 280px;
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.project_img img
{
    width: 280px;
    height: 300px;
}

.project_description
{
    width: 300px;
    height: 170px;
}

.project_description h2
{
    margin-top: 20px;
    color: white;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.project_description_p
{
    padding: 10px;
    width: 298px;
    margin-top: 10px;
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    visibility: hidden;
}

.more_projects
{
    float: left;
    width: 100px;
    height: 150px;
    margin-left: 100px;
    margin-top: 175px;
}

.plus_sign
{
    width: 100px;
    height: 100px;
}

.plus_sign img
{
    width: 100px;
    height: 100px;
}

.more_text
{
    margin-top: 15px;
    color: black;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#otherwork
{
    height: auto;
    margin-top: 60px;
}

#other_content
{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-top: 30px;
    overflow: hidden;
}

#other_content h3
{
    margin-bottom: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#footer
{
    clear: both;
    margin-top: 60px;
}

/***** CSS Animations *****/
/*** Animations defined in stylesheet.css ***/

.start
{
    animation: fade_in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    visibility: visible;
}

/*
FONTS
font-family: 'Great Vibes', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Tangerine', cursive;
*/
