#BibleVerse
{
    width: 96%;
    padding: 10%;
    left: 2%;
    /* Remove the horizontal centering but leave vertical. */
    transform: translateY(-50%);
}

#VerseText
{
    width: 100%;
    font-size: 150px;
}

#ReferenceText
{
    width: 100%;
    font-size: 100px;
}

#PongTitle
{
    font-size: 50px;
}

#GameCanvas
{
    height: 300;
}

#MoreTitle
{
    font-size: 100px;
}

.WorkContainer, .WorkContainerOverlay
{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 600px;
}

.image, .image img, .imageOverlay, .imageOverlay .imgOverlay
{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.image, .imageOverlay
{
    overflow: hidden;
    position: absolute;
    /* arctan(H / W) = Xdeg
    * need to skew by 90deg - Xdeg = degToSkewX
    * If I ever switch to SCSS I can ut a calculation as
    * skew instead of the hard number.
    */
    transform: skewX(-55.98deg);
    transition: .2s;
}

.image:first-child, .imageOverlay:first-child
{
    right: 20%;
    transform-origin: 100% 0;
}

.image:last-child, .imageOverlay:last-child
{
    left: 20%;
    transform-origin: 0 100%;
}

.image img, .imageOverlay .imgOverlay
{
  transform: skewX(55.98deg);
  transform-origin: inherit;
}

.WorkContainerOverlay
{
    top: -600px;
    margin-bottom: -600px;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
}

.imageOverlay
{
    background: black;
    opacity: .6;
    display: block;
}

/* This gets the overlay to line up exactly. */
.imageOverlay:first-child
{
    margin-right: 1.5%;
}

a
{
    text-decoration: none;
}

/* Places text in the divs. */
#CapstoneOverlay
{
    padding-left: 30%;
    padding-top: 12%;
    color: white;
    font-size: 30px;
}

#FirstWorkOverlay
{
    padding-left: 50%;
    padding-top: 40%;
    color: white;
    font-size: 30px;
}
#footer
{
    margin-top: 0%;
}
